<div class="grid grid-cols-3 text-zinc-700">
  <div class="col-span-3 text-zinc-700 mx-5">
    <h1 class="text-3xl"><b>Histórico de Logs </b></h1>
    <div class="flex justify-between">
      <span class=""> Acompanhe o histórico de logs de falhas na integração </span>
    </div>
  </div>

  @if(!isLoading) {
    <form class="col-span-3 mt-5" [formGroup]="form">
    <div class="flex flex-col px-5 py-5 mx-5 rounded border bg-zinc-50 border-zinc-300">
      <div class="grid grid-cols-3">
        <div class="col-span-3 lg:col-span-1">
          <app-custom-input class="mt-5" [config]="{ label: 'Id do pedido', placeholder: '', type: 'text' }" formControlName="orderId">
            <fa-icon prepend [icon]="icons.box" />
          </app-custom-input>
        </div>
      </div>

      <div class="flex justify-end mt-5">
        @if(form.get('orderId')?.value) {
        <button class="px-5 py-2 hover:opacity-80 cursor-pointer bg-zinc-700 text-zinc-50 rounded" (click)="onFindOrder()">
          <b>Filtrar</b>
        </button>
        }

        @if(!form.get('orderId')?.value) {
        <button class="px-5 py-2 hover:opacity-80 cursor-pointer bg-zinc-700 text-zinc-50 rounded" (click)="onListLogs()">
          <b>Atualizar</b>
        </button>
        }
      </div>
    </div>
  </form>
  }

  @if(isLoading) {
  <div class="flex flex-col text-zinc-700 mx-5">
    <fa-icon [icon]="icons.load" class="w-fit spin" />
    <span>Buscando informações...</span>
  </div>
  } 
  
  @if(store.data().length > 0 && !isLoading) {
  <div class="col-span-3">
    @for (item of store.data() | paginate: { itemsPerPage: 3, currentPage: p }; track $index) {
    <app-log-card [item]="item" />
    }
  </div>
  } 
  
  @if(store.data().length > 0 && !isLoading) {
  <div class="col-span-3 mx-5">
    <div class="flex flex-wrap justify-end mb-5 mt-10">
      <pagination-controls (pageChange)="p = $event" [previousLabel]="'Anterior'" [nextLabel]="'Próximo'" />
    </div>
  </div>
  }
</div>
