<div class="flex flex-col">
  <div class="flex justify-between text-zinc-800">
    <label for="email">
      <b>{{ config()?.label }}</b>
    </label>
    @if(valid && touched) {
    <fa-icon [icon]="icons.ok" class="text-green-400" />
    } 
    
    @if(invalid && touched) {
    <div class="flex">
      <span class="text-red-400 mx-2">campo incorreto</span>
      <fa-icon [icon]="icons.error" class="text-red-400" />
    </div>

    }
  </div>

  <div
    class="flex items-center border border-zinc-200 rounded-lg px-3 py-2 gap-2 bg-white"
    [class.opacity-50]="disabled"
  >
    <ng-content select="[prepend]"></ng-content>
    <div class="text-zinc-500">|</div>

    <input
      [type]="config()?.type"
      class="flex-1 outline-none bg-transparent text-gray-800"
      [placeholder]="config()?.placeholder"
      [disabled]="disabled"
      [value]="value"
      (input)="onInput($any($event.target).value)"
    />

    <ng-content select="[append]"></ng-content>
  </div>
</div>
