<form class="grid grid-cols-2 md:grid-cols-2 lg:grid-cols-2 text-zinc-700 gap-5" [formGroup]="form">
  <div class="col-span-2">
    <h1 class="text-3xl"><b>Gerenciar Pedidos </b></h1>
    <span class=""> Reintegre pedidos específicos ou processe múltiplos pedidos de uma vez </span>
  </div>

  <div class="col-span-2 md:col-span-2 lg:col-span-1">
    <div class="flex flex-col justify-between border rounded-lg border-zinc-300 px-5 py-5 bg-zinc-50 size">
      <div class="flex items-center">
        <fa-icon [icon]="icons.box" />
        <h1 class="text-3xl mx-2"><b>Reintegração Individual</b></h1>
      </div>
      <span class="mb-10">Reintegre um pedido específico que pode ter falhado anteriormente</span>

      <app-custom-input
        formControlName="single"
        [config]="{ label: 'ID do Pedido Shopify', placeholder: '', type: 'text' }"
      >
        <fa-icon prepend [icon]="icons.id" />
      </app-custom-input>

      @if(!isLoadingSingle) {
      <button
        (click)="onSubmitSingle()"
        class="mt-5 rounded-lg px-5 py-3 bg-zinc-100 bg-zinc-700 hover:opacity-80 text-zinc-50 cursor-pointer"
      >
        Reintegrar pedido
      </button>
      } 
      
      
      @if(isLoadingSingle) {
      <button
        class="mt-5 rounded-lg px-5 py-3 bg-zinc-100 bg-zinc-700 hover:opacity-80 text-zinc-50 cursor-pointer"
      >
        <fa-icon [icon]="icons.load" class="spin w-fit" />
      </button>
      }
    </div>
  </div>

  <div class="col-span-2 md:col-span-2 lg:col-span-1">
    <div class="flex flex-col justify-between border rounded-lg border-zinc-300 px-5 py-5 bg-zinc-50 size">
      <div class="flex items-center">
        <fa-icon [icon]="icons.boxes" />
        <h1 class="text-3xl mx-2"><b>Reintegração Múltipla</b></h1>
      </div>
      <span class="mb-10">Reintegre vários pedidos de uma só vez</span>

      <div class="flex flex-col lg:flex-row justify-between">
        <app-custom-input
          formControlName="multiple"
          class="md:w-full"
          [config]="{ label: 'ID do Pedido Shopify', placeholder: '', type: 'text' }"
        >
          <fa-icon prepend [icon]="icons.id" />
        </app-custom-input>

        <button
          class="mt-5 lg:w-1/3 lg:ml-3 rounded-lg px-5 py-3 bg-zinc-700 text-zinc-50 cursor-pointer"
          (click)="onConfirmMultiple()"
        >
          Confirmar
        </button>
      </div>

      <div class="flex flex-wrap">
        @for (item of multiples; track $index) {
        <div class="flex items-center mt-3 mr-2">
          <div class="flex rounded-full bg-primary px-2 py-1 text-zinc-50">
            <b class="mr-2">#{{ item }}</b>
            <button class="cursor-pointer" (click)="onRemove($index)">
              <fa-icon [icon]="icons.close" />
            </button>
          </div>
        </div>
        }
      </div>


      @if(!isLoadingMultiple) {
        <button (click)="onSubmitMultiple()" class="mt-5 rounded-lg px-5 py-3 bg-zinc-100 bg-zinc-700 hover:opacity-80 text-zinc-50 cursor-pointer">
          Reintegrar pedidos @if(multiples.length > 0) {
          <b class="px-2 bg-primary rounded-full">{{ multiples.length }}</b>
          }
        </button>
      }

      @if(isLoadingMultiple) {
      <button
        class="mt-5 rounded-lg px-5 py-3 bg-zinc-100 bg-zinc-700 hover:opacity-80 text-zinc-50 cursor-pointer"
      >
        <fa-icon [icon]="icons.load" class="spin w-fit" />
      </button>
      }
    </div>
  </div>
</form>
