<div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-5">
  <div class="col-span-4 text-zinc-700">
    <h1 class="text-3xl"><b>Sistema de Integração Shopify-Omie</b></h1>
    <span class=""> Gerencie pedidos, monitore logs e acompanhe o status das filas de processamento </span>
  </div>

  @for (item of data; track $index) {
  <div class="col-span-1 md:col-span-2 lg:col-span-1">
    <app-card-stats [data]="item" />
  </div>
  }
</div>

<div class="grid grid-cols-1 lg:grid-cols-3 mt-10 gap-5">
  @for (item of items; track $index) {
    <div class="col-span-1">
      <app-card-dashboard-menu [data]="item" />
    </div>
  }
</div>
